.portfoliowebsite {
    display: grid;
    grid-template-areas: 
        "canvas heading"
        "canvas description";
}

@media only screen and (max-width: 900px) {
    .portfoliowebsite {
        grid-template-areas:
            "heading"
            "canvas"
            "description"
    }
}

.portfoliowebsite > h3 {
    grid-area: heading;
}

.portfoliowebsite > .canvascontainer {
    grid-area: canvas;
    max-width: min(100%, 800px);
    max-height: min(100%, 800px);
    padding: 2em;
}

.canvascontainer > img {
    width: 100%;
    height: 100%;
}

.portfoliowebsite > ul {
    grid-area: description;
    padding: 0;
}

