main {
    padding: 0 2rem;
}

.quicklinks ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

.quicklinks ul li {
    width: 330px;
    height: 160px;
    border: 2px solid rgba(0,0,0, .9);
    border-radius: 5px;
    margin: 23px 30px;
    transition: all 0.11s ease-in-out;
    background-color: rgba(255, 255, 255, .9);
}

.quicklinks ul li:hover {
    transform: translateY(-8px);
}

.quicklinks ul li a {
    text-decoration: none;
    width: 100%;
    height: 100%
}

.quicklinks ul li a * {
    margin: 0.5em;
}

.quicklinkheader {
    display: flex;
    align-items: center;
}

.quicklinks ul li a img {
    height: 35px;
    width: 35px;
    margin: 0 6px 0 2px;
    padding: 8px;
    border-radius: 8%;
}

.quicklinks ul li a p {
    text-align: center;
    color: var(--dark-text-color);
}

.quicklinks ul li a h3 {
    font-size: 1.7rem;
    color: var(--dark-text-color);
}