main {
    padding: 0 2rem;
}

.quicklinks ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

.projectsGrid {
    justify-content: center;
}

.card li,
.card p,
.card h4 {
    color: var(--dark-text-color);
}

.card {
    margin: 16px !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: flex-start !important;
    min-width: 450px;
    max-width: 600px !important;
}

.cardMedia {
    height: 280px;
}

.cardActions {
    margin-top: auto !important;
}